@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
  background:#6688AE;
  
}

h1{
  color:#F9F8DC;
  padding: 0rem;
  font-family: 'Dancing script', cursive;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}

.movies-list {
   font-family:'Ysabeau SC', sans-serif ;
   font-weight: bold;
   text-align: center;
 }
 .byMovie {
  margin: -2rem 1rem 1rem 1rem;
 }

button {
  margin: .2rem;
  display: inline-grid;
  background-image: url(https://64.media.tumblr.com/dbba40f6fe111de35363bf7d16de69df/4629bd3bfc1ff56c-79/s540x810/ebf9e5abe8d4322dbfd82005fdeff9b1951e9f1b.jpg);
  background-size: cover;
  box-shadow: .2em .2em .3em rgba(0, 0, 0, 0.462);
  border: none;
  color: #2f2f2e;
  text-shadow: .1em .2em .3em  #2e3130;
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: .4rem;
  height: 50px;
  width: 150px;
  border-radius: 3px;
}

/************Desplegable*****/
/**nombre de la pelicula**/
h2{
  font-family:'Dancing script', cursive; 
  text-align: center;
  color: rgb(37, 37, 37);
  font-weight: 100;
}
.contenedor{
  font-family: 'Ysabeau SC', sans-serif;
  background: #dcdcdb6e;
  display: inline-grid;
  height: 450px;
  width: 300px;
  margin: 1rem;
  border-radius: .25rem;
}
ul{
  list-style: none;
}

.name-image{ 
  margin: 1em -5em 5em 1em;
  list-style: none;
  text-align: center;
}
 img{
  margin: -5em 1em -1em 1em;
  max-height: 220px;
  padding: 1rem;
  
 }
 
h3 {
  font-weight: bold;
}

li {
  list-style: none;
  border: #2e3130;
  text-align: center;
}
