/* Estilos iniciales para que no tome los que tiene el navegador por defecto */
/* "*" es un selector universal*/
* {
    margin: 0;
    padding: 0; /* relleno */
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo{
    width: 400px; 
    height: auto;
    margin: 0 auto;
    display: block;
}

nav{
    max-width: 900px;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 20px;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: url(imagenes/fondo\ 7.jpg) no-repeat; /* no repeat */ 
    background-size: cover; /* La imagen de fondo se ajusta para cubrir todo el elemento */
}

/* Selecciona los elementos con la clase "menu-horizontal" */
.menu-horizontal{
    list-style: none; /* Elimina estilos de lista predeterminados */
    display: flex; /* Los elementos de la lista se muestran en línea uno al lado del otro */
    justify-content: space-around;  /* Los elementos se distribuyen equitativamente*/
}

/* Selecciona los elementos de ancla dentro de los elementos <li> que son hijos directos de elementos con la clase "menu-horizontal" */
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

/* Selecciona los elementos <li> cuando se pasa el cursor por encima de ellos, dentro de elementos con la clase "menu-horizontal" */
.menu-horizontal > li:hover{
    background-color: #44A6A6; /* Color de fondo cuando se pasa el cursor por encima*/
}

/* Selecciona los elementos con la clase "menu-vertical" */
.menu-vertical{
    position: absolute;
    display: none; /* El menú vertical está oculto por defecto */
    list-style: none; 
    width: 200px;
    background-color: #44A6A6;
}

/* Selecciona los elementos con la clase "menu-vertical" cuando se pasa el cursor por encima de los elementos <li> dentro de elementos con la clase "menu-horizontal" */
/* hover: pasar el cursor por encima. en CSS se utilizan las pseudoclases :hover */
.menu-horizontal li:hover .menu-vertical{
    display: block; /* Muestra el menú vertical cuando se pasa el cursor por encima de los elementos de la lista horizontal */
}

/* Selecciona los elementos <li> cuando se pasa el cursor por encima de ellos, dentro de elementos con la clase "menu-vertical" */
.menu-vertical li:hover{
    background-color:rgb(255, 255, 255); /* Color de fondo cuando se pasa el cursor por encima de los elementos del menú vertical */
    cursor: pointer; /*Para que el cursor muestre la mano de selección no solo en el elemento <ul>, sino también en los elementos <li> dentro de él*/
}

/* Selecciona los elementos de ancla dentro de los elementos <li> dentro de elementos con la clase "menu-vertical" */
.menu-vertical li a{
   display: block;
   color: rgb(0, 0, 0);
   padding: 15px 15px 15px 20px; 
   text-decoration: none;
}

footer {
    background-color: #333;
    color:rgb(255, 255, 255);
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    
  }

  #people-list, #films-list, #films-list-year, #people-list-film, #films-list-director, #people-list-age {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    display:none;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    cursor: pointer; 
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }


  /*#contenedor {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    cursor: pointer; 
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    justify-content: space-between;

  }*/

img {
    width: 150px;
    height:fit-content;
    
  }
  
/* Estilos para dispositivos con un ancho máximo de 768 píxeles */
  @media screen and (max-width: 930px) {

    #logo {
      width: 250px;

    }

    nav {
      max-width: 600px;
      font-size: 14px;
      padding: 2px 0;
      margin-left: auto;
      margin-right: auto;
      word-spacing: -2px;

    }

    #people-list, #films-list, #films-list-year, #people-list-film, #films-list-director, #people-list-age {
      background-color: rgba(255, 255, 255, 0.5);
      margin-top: 40px;
      margin-bottom: 60px;
      margin-left: 60px;
      margin-right: 60px;
      display:none;
      flex-wrap: wrap;
      gap: 15px;
      padding: 30px;
      cursor: pointer; 
      border-radius: 40px;
      text-align: center;
      font-weight: bold;
      justify-content:center;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      font-size: 70%;
    }

    img {
      width: 90px;
      height:fit-content;
      
    }
  
  }


/* Estilos para dispositivos con un ancho máximo de 1199 píxeles y un ancho máximo de 769 píxeles 
  @media (max-width: 1199px) and (max-width: 769px) {

  }*/