body{
  padding: 0%;
  margin: 0%;
  background-color:  #547ea7;
  }

header{
    text-align:center;
    text-justify: distribute-all-lines;
    font-family:'Tilt Prism', cursiva;
    font-weight:bold;
    font-size:x-large; 
    color:#19191a;
    letter-spacing: 1px;
 }

nav{
  background-color:#a77d54;
  padding-top: 2rem;
  display: flex;

}
img{
  image-orientation: from-image;
}
input{
  text-align:center;
  margin-bottom: 0.5rem;
  margin-inline-start: 2,5rem;
  }

#boton{
  margin-bottom: 0.5rem;
  margin-inline-start: 2.5rem;
}
#root{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    background-image: url('../imagen/fondo.jpg');
  }

.card {
    background-color: #faf2f4;
    margin: 10px;
    padding: 15px;
    border: 5px solid #547ea7;
    text-align: justify;
    text-align:center;
    font-family: sans-serif;
    /*box-shadow: 5px 5px 20px gray;*/
}

