@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -1;
    opacity: 0.7;
  }

  .contenido {
    display: -ms-flexbox;
    margin: auto ;
    padding: 2rem;
    max-width: fit-content;
}
  header {
    background-color: #3ea4cf;
    border-radius: 6px;
    text-align: center;
    box-shadow: .5em .5em .5em rgba(0, 0, 0, 0.462);
    display: block;
  }
  h1{
    color:#F9F8DC;
    padding: 1rem;
    font-family: 'Dancing script', cursive;
    font-size: 3rem;
    font-weight: 100;
  }

  h5 {
    color: #E6D6BF;
    margin-top: -2.8em;
    padding: .5em;
    font-size: 1.5rem;
    font-family: 'Ysabeau SC', cursive;
    font-weight: 100;
    text-shadow: .1em .1em .1em rgba(0, 0, 0, 0.5);
  }

  button {
    margin: 0 auto;
    display: block;
    background-image: url(https://64.media.tumblr.com/dbba40f6fe111de35363bf7d16de69df/4629bd3bfc1ff56c-79/s540x810/ebf9e5abe8d4322dbfd82005fdeff9b1951e9f1b.jpg);
    background-size: cover;
    box-shadow: .2em .2em .3em rgba(0, 0, 0, 0.462);
    border: none;
    color: #f6f9e0;
    text-shadow: .08em .1em .25em  #434645;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: thin;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .5rem;
    width: 200px;
    border-radius: 3px;
  }

  footer{
    font-family: 'Ysabeau SC', sans-serif;
    font-size: .8em ;
    text-align: right;
    text-shadow: .08rem .1rem .4rem;
    padding: 1rem 1rem .5rem;
    margin: 15rem 0rem 0rem 5rem;
    display: flexbox;
    border-bottom:#1c87b9 solid ;
  }

  