@import url('https://fonts.googleapis.com/css2? family= Tilt+Prism & family= Zen+Tokyo+Zoo & display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Zen Tokyo Zoo', cursive;
  /*text-decoration: none;*/
}

header{
  width: 100%;
  position: fixed;/* se mantiene por encima de todo y pegado*/
  top: 0px;
  left: 0px;
  background-color:  #547ea7;
}

/*HEADER SUPERIOR*/

.logoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size:larger; 
  color:#19191a;
  letter-spacing: 5px;
  margin: 15px;
  }

/* BARRA MENU*/
.navegacion{
  width: 100%;
  height: 80px;
  background-color:#a77d54;
  padding: 10px 40px;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items: center;
   
}
#Inicio, #boton, #Estadisticas{
  height: 35px;
  background-color: #e3c1a0;
  border-color: transparent;
  font-size:larger;
  cursor: pointer;
}
#Inicio:hover {
  background-color:#75664F;
  color: white ;
}
#boton:hover {
  background-color:#75664F;
  color: white ;
}
#Estadisticas:hover {
  background-color:#75664F;
  color: white ;
}

#continent-select{
  width: 220px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
}

#order-select{
  width: auto;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
}

#Buscar{
  width: auto;
  height: 35px;
  font-weight: bold;
  color: #19191a;
  cursor: pointer
}

#root{
  margin-top: 180px;
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-image: url('../imagen/fondo.jpg');
}

.card {
  background-color: #faf2f4;
  margin: 10px;
  padding: 15px;
  border: 5px solid #547ea7;
  text-align: justify;
  text-align:center;
  font-family: sans-serif;
  /***Muestra del cursor en cada carta***/ 
  cursor: pointer;
}
/***Sobresale la carta al pasar el mouse***/
.card:hover{
  transform: scale(1.10);
  border: 5px solid #a77d54;
}
/***Define el tamaño de cada bandera***/
.card img {
 height: 150px;
 width: 250px;
}
/***Ventana modal***/
.modal {
  width: 100%;
  height:100%;
 position:fixed;/**fijar en la página*/
 top:0;
 left:0;
 right: 0;
 bottom: 0;
 background-color: #111111bd;
 display:flex;
}

.modal_container{
  margin:auto;
  width: 80%;
  max-width: 500px;
  max-height: 100%;
  background-color: whitesmoke;
  border-radius:  15px; 
  padding: 1rem ;
  display: grid;
  gap: 2em;
  place-items:initial;
  list-style: none
  /*grid-auto-columns:100%;*/
  
}
.modal img{
  width: 200px;
  height: auto;
 display: block;
 margin: 0 auto;
}
.modal h2{
  text-align: center;
}

/*#informacion{
  font-family: sans-serif;
  font-weight: bold;
  color: #0a2948;
;
}*/
