@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    font-family: 'Montserrat Alternates', sans-serif;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBEBEB;
    height: 85px;
}
.contenedor .heading1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo2016 {
    line-height: 140px;
    height: 140px;
}
.division{
    margin-left: auto ;
}
.division a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: larger;
    padding: 50px;
}
.division a:hover {
    background-color: #D3D3D3;
    height: 10px;
}
.contenedor .iconofiltro label {
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
#btnFiltro {
    display: none;
}
.contenedorFiltros {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99999
}
#btnFiltro:checked ~ .contenedorFiltros{
    opacity: 1;
    visibility: visible;
}
.contenedorFiltros .contenedorFiltros2 {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 1500px;
    position: relative;
}
.contenedorFiltros .contenedorFiltros2 nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
}
.contenedorFiltros .contenedorFiltros2 nav a:hover{
    background: #2d2d2d;
    border-left: 5px solid #dddada
}
.contenedorFiltros .contenedorFiltros2 label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    color:white;
}    
#general {
    display: flex;
    justify-content: space-around;
}
#cartillaContenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    line-height: 1.3;
}
#pet1 {
    display: flex;
    align-items: start;
    position: fixed;
    top: 300px;
    left: 0px;
}
#petTom {
    margin-top: 180px;
    width: 450px;
    height: auto;
}
#pet2 {
    display:flex;
    align-items: start;
    position: fixed;
    top:500px;
    right: 0px;
    margin-right: 100px;
    flex: 0 0 auto;
}   
#pet3 {
    height: 350px;
    width: auto;
    display: flex;
    padding-top: 170px;
}
#petestad {
    margin-top: 100px;
    width: 450px;
    height: auto;
}

#teams a{
    cursor: pointer;
}
#sport a{
    cursor: pointer;
}
#gender a{
    cursor: pointer;
}
#medal a{
    cursor: pointer;
}
.cartilla {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
#imgOficial {
    height: 150px;
    width: 500px;
}
#contenedorImg {
    display: flex;
    justify-content: center;
}
#barraBuscador {
    display: flex;
    justify-content: center;
}
.order {
    background-color: #081778d0;
    color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.sortOptions a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 5px;
}
.sortOptions a:hover {
    background-color:white;
    cursor: pointer;
}
.sortOptions {
    position: absolute;
    width: 150px;
    background-color: #f4d4d3; 
    display: none;
}
.sortBy:hover .sortOptions{
    display: block;
}
.sortBy {
    position: absolute;
}
#boxSortBy {
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

#boxSortBy .order {
    margin-right: 200px; /* Añade un espacio entre los botones */      
}
    
#topContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    line-height: 1.3;
    margin-top: 75px;
    margin-right: 50px;
    margin-left: 10px;
}
#barra {
    width: 200px;
    padding: 8px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
#clear {
    background-color: #081778d0;
    color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#generalStats {
    display: flex;
    align-items: center;
}
  
#statisticsCont {
    flex: 1 1 auto;
    display: flex;
}

.headingStats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsAth {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
}

#generalStats h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}

.athList {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
  }
  
  .athList li::before {
    content: "\2605"; /* Código unicode para el símbolo de estrella */
    margin-right: 5px;
    color: #FFDC0C;
  }

.expandButton {
    background-color: #081778d0;
    color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.cardsAth .expandButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top10 {
    display: flex;
    justify-content: center; 
    margin-left: 200px;
  }
  
.top10 button {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 4px;
    align-items: center;
    background-color: #081778d0;
    color: #FFDC0C;
    font-weight: bolder;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }

.top10 :hover {
    cursor: pointer;
}
.top10 a {
    text-decoration: none;
}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.homeButton .homeBtn {
    border: none;
    color: #081778d0;
    background-color:#FFFEFF;
}

.homeButton .fa-house {
    font-size: 29px;
}
.homeBtn :hover {
    cursor: pointer;
}
#pet4 {
    height: 350px;
    width: auto;
    display: flex;
    padding-top: 170px;
    flex: 0 0 auto;
}
#pet5 {
    height: 350px;
    width: auto;
    display: flex;
    padding-top: 170px;
    flex: 0 0 auto;
}