@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
}
/**********************************CAMBIOS EN EL HEADER***************************************/
.header{
  background: url(fondo_pagina0.jpg);
  object-fit: cover;
  display: flex;/*se utiliza para convertir un contenedor en un contenedor flexible, lo que permite una disposición flexible y controlada de
  los elementos secundarios dentro del mismo.*/
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /*vh(viewport height) y vw(viewport width)*/
}
#container_text{
  height: 90%;
  width: 80%;
}
#container_title{
  height: 20%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.container_phall{
  text-align: center;
}
.p1{
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 20px;
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
.p2{
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 50px;
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
.p3{
  text-align: center;
  font-size: 15px;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}
/**********Botón de flecha********/
.div_flecha{
  text-align: center;
}
#botonAbajo{
  padding: 20px;
  width: 140px;
}
#section2 {
  display: none;
}
/*****************BARRA DE NAVEGACION FIJA***************************/
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-image: linear-gradient(-225deg, #343C50 0%, #4F617E 50%, #35484D 100%);
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;/* se utiliza para controlar la posición en el eje Z y se pone 1 porque es solo 1 capa*/
}
.nav-link {
  color: white;
  text-decoration: none;
}
.logo {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  padding: 0 20px;
  line-height: 60px;
  -webkit-text-stroke: 0.5px #000;
}
.nav-menu {
  list-style: none;
  margin: 0;
  background-color: #28283D;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  left: 100%;
  transition: left 0.3s;
  text-align: center;
}
.nav-menu-item {
  font-size: 15px;
  margin:0 10px;
  line-height: 70px;
  text-transform: uppercase;
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover {
  background:#715fb3;
  color: black;
}
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: block;
  cursor: pointer;
}
.nav-menu_visible {
  left: 0;
}
/*********************************INICIO DEL MAIN******************************************************************/
/*************************SEGUNDA BARRA DE NAVEGACION********************************************/
.container_nav_all {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.div-roles {
  margin-left: 20px;
  display: block;
  width: 100px;
  height: 35px;
  background-image: linear-gradient(-225deg, #323B53 0%, #2C4266 50%, #35484D 100%);
  font-size: 15px;
  text-align: center;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
}
.div-roles:hover .ul-roles{
display: block;
}
.ul-roles {
list-style: none;
position: absolute;
color: #fff;
background-color: #3F3974;
display: none;
padding: 8px;
width: 100px;
}
.ul-roles li:hover{
  background-image: linear-gradient(-225deg, #2B3144 0%, #283750 50%, #273538 100%);
}
.ul-roles li a {
color: #fff;
height: 25px;
padding: 7px;
text-decoration: none;
display: block;
}
/*--------------------ordenar----------------------*/
.btn-ordenar {
    display: block;
    width: 100px;
    height: 35px;
    background-image: linear-gradient(-225deg, #323B53 0%, #2C4266 50%, #35484D 100%);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    padding-left: 5px;
    color: #fff;
}
.btn-ordenar:hover .ul-ordenar{
  display: block;
}
.ul-ordenar {
  list-style: none;
  position: absolute;
  color: #fff;
  display: none;
  background-color: #3F3974;
  padding: 8px;
  width: 100px;
}
.ul-ordenar li:hover{
  background-image: linear-gradient(-225deg, #2B3144 0%, #283750 50%, #273538 100%);
}
.ul-ordenar li a {
  color: #fff;
  height: 25px;
  padding: 7px;
  text-decoration: none;
  display: block;
}
/*----------------------Buscador--------------------------------*/
.buscador {
  padding-top: 5px;
  padding-right: 20px;
}
.buscador input {
  margin-right: 26px;
  width: 95px;
  height: 25px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
}
.boton {
  margin-top: 70px;
  margin-right: 22px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  top: 0;
  right: 0;
  position: absolute;
  background: #000;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}
/*******************EDICION DEL DIV DE HTML Y DE LO QUE CREAMOS EN JS***************************************/
.container {
  text-align: center;
}
.champion-container {
  width: 48%;
  text-align: center;
  display: inline-block;
  padding: 8px;
}
.champion-image {
  width: 100%;
  height: 100%;
}
.champion-name {
  background-color: #131120;
  font-family:'Ysabeau Office', sans-serif;
  color: white;
  margin-top: -5px;
  padding: 5px;
}
/*------------------------------------------EDICION DE LA PAGINA DE TIPS------------------------------------------------------*/
.container-tall-section4{
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
}
.titulo_tips{
  font-family: 'Knewave';
  font-size: 25px;
  -webkit-text-stroke: 0.05px #fff;
}
.tip-1{
  display: flex;
  margin: 0 auto;
  width: 94vw;
  height: 20vh;
  align-items: center;
  }
.tip-2{
  display: flex;
  margin:0 auto;
  width: 94vw;
  height: 20vh;
  align-items: center;
}
.tip-3{
  display: flex;
  margin: 0 auto;
  width: 94vw;
  height: 24vh;
  align-items: center;
}
.tip-4{
  display: flex;
  margin: 0 auto;
  width: 94vw;
  height: 12vh;
  align-items: center;
}
.tip-5{
  display: flex;
  margin: 0 auto;
  width: 94vw;
  height: 20vh;
  align-items: center;
}
.tip-6{
  display: flex;
  margin: 0 auto;
  width: 94vw;
  height: 22vh;
  align-items: center;
}
.tip-7{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 94vw;
  height: 28vh;
  align-items: center;
}
.p-tips{
  font-size: 15px;
  text-align: justify;
  -webkit-text-stroke: 0.3px #97783D;
}
.span-tips{
  font-size: 15px;
  -webkit-text-stroke: 0.4px #97783D;
}
/*---------------------------EDICION DE LA PAGINA DE ESTADISTICAS---------------------------------------*/
.container-tall-section5{
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.titulo-estadisticas{
  font-family: 'Knewave';
  font-size: 28px;
  -webkit-text-stroke: 0.05px #fff;
}
.container-estadisticas{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-estadistica-izquierda{
  background-color: #B3B0B0;
  width: 335px;
  height: 500px;
  margin: 20px;
  border-radius: 15px;
}
/*
.div-estadistica-derecha{
  background-color: #B3B0B0;
  width: 335px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.img-estadisticas{
  margin-top: 10px;
  width: 160px;
  height: 254px;
} */
.title-izquierda{
  font-size: 20px;
  padding-top: 10px;
}
/* .title-derecha{
  font-size: 20px;
  padding-top: 10px;
} */
/* Torta */
.info-estadistica-izquierda {
  display: flex;
  margin-top: 13px;
  justify-content: center;
}
/*informacion q se muestra al darle click a los campeones*/
#section6 {
  display: none;
  position: relative;
  background: url(fondo.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
#info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#splashImage {
  width: 58vw;
  height: 35vh;
  margin-top:-130px;
}
#championTitle {
  color: #fff;
  width: 50%;
  height: 8%;
  text-align: center;
  -webkit-text-stroke: 2px #5E5C5C;
  font-family: 'Knewave', cursive;
  font-size: 20px;
  margin-top: 5px;
}
#championBlurb {
  color: #fff;
  width: 80%;
  height: 20%;
  margin-top: 10px;
}
.footer {
  width: 100vw;
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.footer-estaditicas{
  margin-top: 35px;
}

































































/***********++++++++++++**************@MEDIA PARA TABLET***********++++++++++++++******************************/
@media (min-width:640px){
  .body {
    padding: 90px 20px 0;
}
/**********************************CAMBIOS EN EL HEADER***************************************/
.header{
  background: url(pagina2.jfif);
}
#container_title{
  font-size: 50px;
}
#container_pharse{
  display: flex;
  flex-direction: column;/*hace que se valla uno abajo del otro y es que no caben en la primera fila*/
  align-items: center;/*sirve para centrar los items*/
  height: 70%;
  width: 100%;
}
.container_phall{
  text-align: center;
}
.p1{
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 50px;
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
.p2{
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 90px;
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
.p3{
  text-align: center;
  font-size: 30px;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}
/**********Botón de flecha********/
.div_flecha{
  text-align: center;
}
#botonAbajo{
  margin-top: 40px;
  padding: 20px;
  width: 200px;
}
#section2 {
  display: none;
}
/**/
  .logo {
    font-size: 50px;
    line-height: 60px;
    margin-left: 40px;
    position: relative;
  }
  /*++++++++++++++++++++++++SEGUNDA BARRA DE NAVEGACION++++++++++++++++++++++*/
  .div-roles {
    margin-left: 50px;
    display: block;
    width: 130px;
    height: 45px;
    background-image: linear-gradient(-225deg, #323B53 0%, #2C4266 50%, #35484D 100%);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
  }
  .div-roles:hover .ul-roles{
  display: block;
  }
  .ul-roles {
  list-style: none;
  position: absolute;
  color: #fff;
  background-color: #3F3974;
  display: none;
  padding: 8px;
  width: 150px;
  }
  .ul-roles li:hover{
    background-image: linear-gradient(-225deg, #2B3144 0%, #283750 50%, #273538 100%);
  }
  .ul-roles li a {
  color: #fff;
  height: 35px;
  padding: 7px;
  text-decoration: none;
  display: block;
  }
  /*---------------------ORDENAR------------------------------------*/
  .btn-ordenar {
    width: 130px;
    height: 45px;
    font-size: 20px;
    margin-left: -10px;
    margin-top: 1.5px;
    border: 1px solid #fff;
    color: #fff;
 }
  .btn-ordenar:hover{
    border: 3px solid #FFF;
 }
  .ul-roles li:hover{
    background-color: #554C88;
  }
  .ul-ordenar li a{
    height: 35px;
  }
/*---------------------BUSCADOR-----------------------------------*/
  .buscador{
      padding-right: 30px;
  }
  .buscador input{
      width: 160px;
      height: 34px;
      padding: 0 20px;
      font-size: 18px;
      color: #222;
      border: 1px solid #000;
      margin-top: 1px;
  }
  .buscador input:hover{
    border: 3px solid #000;
  }
  .boton{
      margin-top: 68px;
      margin-right: 30px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
  }
  /*******************EDICION DEL DIV DE HTML Y DE LO QUE CREAMOS EN JS***************************************/
    .champion-container {
      width: 24%;
    }
  /*------------------------------------------EDICION DE LA PAGINA DE TIPS------------------------------------------------------*/
.conteiner-tall-section4{
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
}
.titulo_tips{
  font-family: 'Knewave';
  font-size: 35px;
}
.tip-1{
  display: flex;
  margin: 10px;
  width: 94vw;
  height: 30vh;
  align-items: center;
  }
.tip-2{
  display: flex;
  margin:13px;
  width: 94vw;
  height: 30vh;
  align-items: center;
}
.tip-3{
  display: flex;
  margin: 13px;
  width: 94vw;
  height: 32vh;
  align-items: center;
}
.tip-4{
  display: flex;
  margin: 13px;
  width: 94vw;
  height: 20vh;
  align-items: center;
}
.tip-5{
  display: flex;
  margin: 13px;
  width: 94vw;
  height: 30vh;
  align-items: center;
}
.tip-6{
  display: flex;
  margin: 13px;
  width: 94vw;
  height: 32vh;
  align-items: center;
}
.tip-7{
  display: flex;
  margin: 13px;
  width: 94vw;
  height: 32vh;
  align-items: center;
}
.p-tips{
  font-size: 25px;
  text-align: justify;
  -webkit-text-stroke: 0.4px #97783D;
}
.span-tips{
  font-size: 30px;
  -webkit-text-stroke: 0.8px #97783D;
}
/*---------------------------EDICION DE LA PAGINA DE ESTADISTICAS---------------------------------------*/
.container-tall-section5{
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
  flex-direction: column;
}
.titulo-estadisticas{
  font-family: 'Knewave';
  font-size: 28px;
  -webkit-text-stroke: 0.05px #fff;
}
.container-estadisticas{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.div-estadistica-izquierda{
  background-color: #B3B0B0;
  width: 500px;
  height: 520px;
  margin: 20px;
  border-radius: 15px;
}
/* .div-estadistica-derecha{
  background-color: #B3B0B0;
  width: 500px;
  height: 490px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.img-estadisticas{
  width: 250px;
  height: 394px;
} */
.title-izquierda{
  font-size: 20px;
  padding-top: 10px;
}
/* .title-derecha{
  font-size: 20px;
  padding-top: 10px;
} */
/* Torta */
.info-estadistica-izquierda {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}




  /*informacion q se muestra al darle click a los campeones*/
  #splashImage {
    width: 75vw;
    height: 55vh;
    margin-top: 10px;
    }
  
  
  #championTitle {
    width: 70%;
    height: 10%;
    font-size: 40px;
  }

  #championBlurb {
    margin-top: -20px;
    font-size: 20px;
  }

}


























































/***********++++++++++++**************@MEDIA PARA EL ESCRITORIO***********++++++++++++++******************************/
@media (min-width: 1280px) {
  .body {
      padding: 90px 20px 0;
  }
  /**********************************CAMBIOS EN EL HEADER***************************************/
  .header{
    background: url(fondo-pag1.jpg);
  }
  #container_title{
    font-size: 40px;
  }
  #container_pharse{
    display: flex;
    flex-direction: column;/*hace que se valla uno abajo del otro y es que no caben en la primera fila*/
    align-items: center;/*sirve para centrar los items*/
    height: 70%;
    width: 100%;
  }
  .container_phall{
    text-align: center;
  }
  .p1{
    text-align: center;
    font-family: 'Knewave', cursive;
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
  }
  .p2{
    text-align: center;
    font-family: 'Knewave', cursive;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
  }
  .p3{
    text-align: center;
    font-size: 22px;
    color: #fff;
    -webkit-text-stroke: 0.5px #000;
  }
  /**********Botón de flecha********/
  .div_flecha{
    text-align: center;
  }
  #botonAbajo{
    margin-top: 30px;
    padding: 20px;
    width: 160px;
  }
  #section2 {
    display: none;
  }
  /**/
    .logo {
      font-size: 50px;
      line-height: 60px;
      margin-left: 40px;
      position: relative;
    }
    /************************SEGUNDA BARRA DE NAVEGACION**********************************/
    .div-roles {
      color: transparent;
      margin: 20px;
      border: transparent;
      margin-top: -28px;
      background: transparent;
    }
    .nav2-roles {
      width: 1000px;
      height: 40px;
      margin-left: 10px;
      font-size: 18px;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
    }
    .ul-roles {
      padding: 0;
      width: 1000px;
      flex-wrap: wrap;
      color: #000;
      background-color: transparent;
      margin-top: -10px; /* Reiniciamos el margen superior */
    }
    .ul-roles li {
      width: 120px;
      height: 40px;
      display: block;
      background-image: linear-gradient(-225deg, #323B53 0%, #2C4266 50%, #35484D 100%);
      border: 1px solid #fff;
      margin: 6px 2px;
    }
    .ul-roles li:hover{
      border: 3px solid #FFF;
    }
    .ul-roles li a {
      font-size: 15px;
      display: block;
      margin: 5px;
    }
    .div-roles .ul-roles {
      display: grid;
      grid-template-columns: repeat(7, 130px); /* Define el número de columnas */
    }
    .div-roles:hover .ul-roles {
      display: grid;
      grid-template-columns: repeat(7, 130px); /* Define el número de columnas */
    }
    /*---------------------ORDENAR------------------------------------*/
    .btn-ordenar {
      margin-left: -95px;
      margin-top: -2.5px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 15px;
      width: 120px;
      height: 40px;
   }
    .btn-ordenar:hover{
      border: 3px solid #FFF;
   }
    .ul-ordenar li:hover{
      background-color: #554C88;
    }
  /*---------------------BUSCADOR-----------------------------------*/
    .buscador{
        padding-right: 30px;
    }
    .buscador input{
        width: 160px;
        height: 34px;
        padding: 0 20px;
        font-size: 18px;
        color: #222;
        border: 1px solid #000;
        margin-top: -7px;
    }
    .buscador input:hover{
      border: 3px solid #000;
    }
    .boton{
        margin-top: 60px;
        margin-right: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    /*******************EDICION DEL DIV DE HTML Y DE LO QUE CREAMOS EN JS***************************************/
      .champion-container {
        width: 19.5%;
      }
    /*------------------------------------------EDICION DE LA PAGINA DE TIPS------------------------------------------------------*/
  .conteiner-tall-section4{
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
  }
  .titulo_tips{
    font-family: 'Knewave';
    font-size: 40px;
  }
  .tip-1{
    display: flex;
    margin: 0 auto;
    width: 94vw;
    height: 30vh;
    align-items: center;
    }
  .tip-2{
    display: flex;
    margin:0 auto;
    width: 94vw;
    height: 30vh;
    align-items: center;
  }
  .tip-3{
    display: flex;
    margin: 0 auto;
    width: 94vw;
    height: 32vh;
    align-items: center;
  }
  .tip-4{
    display: flex;
    margin: 0 auto;
    width: 94vw;
    height: 20vh;
    align-items: center;
  }
  .tip-5{
    display: flex;
    margin: 0 auto;
    width: 94vw;
    height: 30vh;
    align-items: center;
  }
  .tip-6{
    display: flex;
    margin: 0 auto;
    width: 94vw;
    height: 32vh;
    align-items: center;
  }
  .tip-7{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 94vw;
    height: 32vh;
    align-items: center;
  }
  .p-tips{
    font-size: 25px;
    text-align: justify;
    -webkit-text-stroke: 0.4px #97783D;
  }
  .span-tips{
    font-size: 30px;
    -webkit-text-stroke: 0.8px #97783D;
  }
  /*---------------------------EDICION DE LA PAGINA DE ESTADISTICAS---------------------------------------*/
  .container-tall-section5{
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    background-image: linear-gradient(to right, #243949 0%, #40627E 100%);
    flex-direction: column;
  }
  .titulo-estadisticas{
    font-family: 'Knewave';
    font-size: 28px;
    -webkit-text-stroke: 0.05px #fff;
  }
  .container-estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .div-estadistica-izquierda{
    background-color: #B3B0B0;
    width: 500px;
    height: 520px;
    margin: 20px;
    border-radius: 15px;
  }
  /* .div-estadistica-derecha{
    background-color: #B3B0B0;
    width: 500px;
    height: 490px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  .img-estadisticas{
    width: 250px;
    height: 394px;
  } */
  .title-izquierda{
    font-size: 20px;
    padding-top: 10px;
  }
  /* .title-derecha{
    font-size: 20px;
    padding-top: 10px;
  } */
  /* Torta */
  .info-estadistica-izquierda {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  /*informacion q se muestra al darle click a los campeones*/
  #splashImage {
    width: 30w;
    height: 35vh;
    margin-top: 4px;
  }
  #championTitle {
    font-size: 25px;
  }

  /*informacion q se muestra al darle click a los campeones*/
  #splashImage {
    width: 75vw;
    height: 60vh;
    margin-top: 10px;
    }
  
  
  #championTitle {
    width: 70%;
    height: 10%;
    font-size: 40px;
  }

  #championBlurb {
    margin-top: 3px;
    font-size: 20px;
  }
  }



















