body {
    min-height: 100vh;
    background-color: #022973;
    display: flex;
    flex-direction: column;
}

img {
    height: 100px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sections {
    margin-left: auto;
    text-align: center;
    border: solid 2px #000;
    background-color: #FFCB08;
    height: 40px;
}

ul { 
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;

}
.Genebest {
    display: block;
    padding: 10px 20px;
}

.Genebest:hover {
    background-color: #CB1D0E;
    height: 20px;
    color:#FFFFFF;
}

main {
    flex: 1;
}

.interview {
    text-align: center;
    border: solid #ffffff;
    background-color: #FFFFFF;
    height: 30px;
    margin: 0;
}

#searchs {
    margin: 10px;
}

p.order{
    color: #FFFFFF;
    margin: 10px;
}

input#pokeNames {
display:grid;
}

#orderfor{
    margin: 0 0 10px 20px;
    color: #ffffff;
}

footer {
    border: solid #CB1D0E;
    background-color: #CB1D0E;
    text-align: center;
    padding: center;
}

main#targets {
    margin: auto;
    padding: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

#targets {
    padding: center;
    display: grid;
    width: 330px;
    height: 500px;
    margin: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;

}

.cards {
    border: solid 2px #000;
    background: #FFFFFF;

}

article img {
    width: 150px;
    height: 150px;
    border: solid 2px #9ce6b0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    background-image: radial-gradient(circle at 50.28% 51.61%, #f27cff 0, #a261ff 25%, #4c42d4 50%, #002495 75%, #00065e 100%);
}

article.cards {
    height: 535px;
    width: 175px;
    padding: 10px;
    margin: 10px;

}

h2,h4 {
    margin: 10px;
}

p#porcent {
    border: solid 2px #fff;
}