@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    font-family: 'Montserrat Alternates', sans-serif;
}
.page {
    display: none; 
}
.page.active {
    display: block; 
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBEBEB;
    height: 85px;
}
.contenedor .heading1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo2016 {
    display: flex;
    justify-content: center;
    line-height: 140px;
    height: 140px;
}
.division{
    display: flex;
    align-items: center;
    margin-left: auto ;
}
.division a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: larger;
    padding: 50px;
}
.division a:hover {
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    height: 10px;
}
.contenedor .iconofiltro label {
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
#btnFiltro {
    display: none;
}
.contenedorFiltros {
    display: flex;
    align-items: start;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99999
}
#btnFiltro:checked ~ .contenedorFiltros{
    opacity: 1;
    visibility: visible;
}
.contenedorFiltros .contenedorFiltros2 {
    display: flex;
    align-items: start;
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 1500px;
    position: relative;
}
.contenedorFiltros .contenedorFiltros2 nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
}
.contenedorFiltros .contenedorFiltros2 nav a:hover{
    background: #2d2d2d;
    border-left: 5px solid #dddada
}
.contenedorFiltros .contenedorFiltros2 label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    color:white;
}   
#fondo{
    display: none;
}
#general {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#cartillaContenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    line-height: 1.3;
}
#pet1 {
    display: flex;
    align-items: start;
    top: 200px;
    left: 0px;
}
#petTom {
    margin-left: none;
    margin-top: 180px;
    width: 350px;
    height: auto;
    
}
#petgreen{
    margin-top: 140px;
    width: 200px;
    height: auto;
}
#pet2 {
    display:flex;
    align-items: start;
    top:500px;
    right: 0px;
    margin-right: 100px;
}   
#pet3 {
    display:flex;
    align-items: start;
    height: 150px;
    width: auto;
    padding-top: 200px;
}
#mascotasJuntas{
    margin-top: 50px;
    width: 350px;
    height: auto;
}
#petestad {
    margin-top: 100px;
    width: 450px;
    height: auto;
}
#teams {
    list-style: none;
}
#teams a{
    cursor: pointer;
}
#sport {
    list-style: none;
}
#sport a{
    cursor: pointer;
}
#gender {
    list-style: none;
}
#gender a{
    cursor: pointer;
}
#medal {
    list-style: none;
}
#medal a{
    cursor: pointer;
}
.cartilla {
    border: 2px solid #c4d2e3;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(227, 232, 252, 0.269); /*para que el fondo sea un poco transparente*/
}
#imgOficial {
    height: 150px;
    width: 500px;
    margin-top: 25px;
}
#contenedorImg {
    display: flex;
    justify-content: center;
}
#barraBuscador {
    display: flex;
    justify-content: center;
}
.order {
    background-color: #081778d0;
    color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.sortOptions a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 5px;
}
.sortOptions a:hover {
    background-color:white;
    cursor: pointer;
}
.sortOptions {
    position: absolute;
    width: 150px;
    background-color: #f4d4d3; 
    display: none;
}
.sortBy:hover .sortOptions{
    display: block;
}
.sortBy {
    position: absolute;
}
#boxSortBy {
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
#boxSortBy .order {
    margin-right: 200px; /* Añade un espacio entre los botones */      
}
#general2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#topContainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    line-height: 1.3;
    margin-top: 75px;
    margin-right: 50px;
    margin-left: 10px;
}
#barra {
    width: 200px;
    padding: 8px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
#clear {
    background-color: #081778d0;
    color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#generalStats {
   display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
  
#statisticsCont {
    display: flex;
    justify-content: center;
}

.headingStats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsAth {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-right: 30px;
}

#generalStats h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}

.top10 {
    display: flex;
    justify-content: center; 
    margin-left: 200px;
  }
  
.top10 button {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 4px;
    align-items: center;
    background-color: #081778d0;
    color: #FFDC0C;
    font-weight: bolder;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }

.top10 :hover {
    cursor: pointer;
}
.top10 a {
    text-decoration: none;
}
.imagen-atleta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px; 
    border-radius: 50%;
}
.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.homeButton .homeBtn {
    border: none;
    color: #081778d0;
    background-color:#FFFEFF;
}
.homeButton .fa-house {
    font-size: 29px;
}
.homeBtn :hover {
    cursor: pointer;
}
#pet4 {
    height: 350px;
    width: auto;
    display: flex;
    padding-top: 170px;
    flex: 0 0 auto;
    margin-left: 50px;
}
#pet5 {
    height: 350px;
    width: auto;
    display: flex;
    padding-top: 170px;
    flex: 0 0 auto;
}
#imgoro {
    height: 250px;
    width: auto;
}
#imgplata {
    padding-top: 19px;
    height: 220px;
    width: auto;
}
#imgbronce {
    padding-top: 19px;
    height: 220px;
    width: auto;
}
#pet3 {
    margin-left: 5px;
    margin-right: none;
    margin-top: 80px;
}

@media (max-width: 1290px) {
    /*Contenedor superior*/
    .contenedor{
        height: 105px;
    }
    .contenedor .iconofiltro label {
        font-size: 70px;
        padding: 20px;
        cursor: pointer;
    }
    #logo2016{
        height: 250px;
        width: auto;
    }
    .division a{
        font-size: xx-large;
        padding: 50px;
    }
    .contenedorFiltros .contenedorFiltros2 {
        max-width: 400px;
        height: 2500px;
    }  
    .contenedorFiltros .contenedorFiltros2 nav a{
        padding: 40px;
        font-size: xx-large;
    }
    .contenedorFiltros .contenedorFiltros2 label{
        font-size: 80px;
    }   
    #imgOficial{
        height: 220px;
        width: auto;
    }
    /*Pagina Atletas*/
    #barra{
        width: 450px;
        height: 50px;
        font-size: x-large;
    }
    #clear{
        height: 70px;
        font-size: x-large;
    }
    .order{
        width: 120px;
        font-size: x-large;
    }
    .sortOptions a{
        padding: 10px;
        font-size: x-large;
    }
    .sortOptions {
        position: absolute;
        width: 200px;
    }
    .top10 button {
        width: 120px;
        height: 50px;
        font-size: large;
    }
    #pet1{
        display: none;
    }
    #pet2{
        display: none;
    }
    #cartillaContenedor{
        font-size: x-large;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-left: 17px;
        margin-right: 17px;
        line-height: 1,3;
    }
    /*Pagina Top*/
    #topContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
    #general2 {
        display: flex;
        flex-direction: row;
    }
    #general2 #pet3 {
        order: -1;
        margin-bottom: 10px;
        position: sticky;
        top: 0;
    }
    /*Pagina Estadisticas*/
    .headingStats {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .homeButton .fa-house {
        font-size: 50px;
    }
    #pet4{
        padding-top:10px;
        height: 470px;
    }
    #generalStats {
        display: flex;
        flex-wrap: wrap;
    }
    #statisticsCont{
        padding-top: 50px;
        padding-left: 30px;
    }
    .cardsAth{
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
    }
     #pet5{
        padding-top: 25px;
        padding-left: 170px;
    }
}