@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    font-family: 'Montserrat Alternates', sans-serif;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBEBEB;
    height: 85px;
}
.contenedor .heading1 {
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor .logo #logo2016 {
    line-height: 140px;
    height: 140px;
    padding-right: 900px;
}
.division a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 50px;
    font-size: larger;
    display: inline-block;
}
.division a:hover {
    background-color: #D3D3D3;
    height: 10px;
}
.contenedor .iconofiltro label {
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
#btnFiltro {
    display: none;
}
.contenedorFiltros {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99999
}
#btnFiltro:checked ~ .contenedorFiltros{
    opacity: 1;
    visibility: visible;
}
.contenedorFiltros .contenedorFiltros2 {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
}
.contenedorFiltros .contenedorFiltros2 nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
}
.contenedorFiltros .contenedorFiltros2 nav a:hover{
    background: #1f1f1f;
    border-left: 5px solid #dddada
}
.contenedorFiltros .contenedorFiltros2 label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    color:white;
}    
#general {
    display: flex;
    justify-content: space-around;
}
#cartillaContenedor {
    display: grid;
    gap: 50px;
    line-height: 1.3;
}
#pet1 {
    width:250px;
    display: flex;
    align-items: start;
}
#pet2 {
    width:250px;
    padding-top:180px;
    display:flex;
    align-items: baseline;
}
#teams a{
    cursor: pointer;
}
.cartilla {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
#imgOficial {
    height: 150px;
    width: 500px;
}
#contenedorImg {
    display: flex;
    justify-content: center;
}
#barraBuscador {
    display: flex;
    justify-content: center;
}
.sortBy .order {
    background-color: #EC692C;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}
.sortOptions a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 5px;
}
.sortOptions a:hover {
    background-color:white;
    cursor: pointer;
}
.sortOptions {
    width: 150px;
    background-color: #F2CAB7; 
    display: none;
}
.sortBy:hover .sortOptions{
    display: block;
}
.sortBy {
    position: absolute;
}
#boxSortBy {
    display: flex;
    justify-content: center;
}
#topContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    line-height: 1.3;
    margin-top: 100px;
}